

.about-us .about-container{
padding: 20px 250px;
position: relative;
}


.about-us .about-head{
    text-align: center;
    margin-bottom: 80px;
}

.about-head span{
    background-color: #f5f5f5;
    color: #646464;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px;
    border-radius: 5px;
}

.about-head h1{
    font-size: 60px;
    margin: 20px 0;
    letter-spacing: -2px;
    line-height: 55px;
    font-weight: 600;
}

.about-head p{
    color: #646464;
    font-size: 20px;
}

.about-img img{
    width: 330px;
}

.about-content{
    margin: 60px 0;
}

.about-content p, .about-content h5{
    padding:  10px;
}
.description{
    margin-bottom: 50px;
}
.description span{
    background-color: #f5f5f5;
    color: #646464;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px;
    border-radius: 5px;
}

.description p{
    color: #646464;
    font-size: 20px;
    margin-top: 20px;
}

.description a{
    color: rgb(11, 25, 211);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px rgb(219, 219, 219) solid;
    
}

.team-meet{
    text-align: center;
    background-color: transparent;
    background-image: linear-gradient(180deg,#AFC6E6 0%,#E9E6EF 100%);
    position: relative;
    padding: 150px 0;
    overflow: hidden;
    z-index: -1;
    margin-bottom: 50px;
}


.team-meet .btn{
    border: none;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(11, 25, 211);;
    color: white;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 30px;
    z-index: 1;
}

.team-meet .btn:hover{
    background-color: black;
    color: white;
    z-index: 1;
}

.team-meet h2{
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -1px;
    z-index: 1;

}

.team-meet p{
    font-size: 16px;
    margin-top: 20px !important;
    margin: 0 380px;
    z-index: 1;
}

.team-meet img{
    position: absolute;
    top:0;
    right:30%;
    opacity: 0.4;

}

.together{
    margin-bottom: 50px;
}

.together h3{
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -2px;
}

.together p{
    font-size: 16px;
    margin-top: 20px;
    color: #818181;
}


.together img{
    width:100%;
    max-height: 450px;
}

.together a{
    border: none;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(11, 25, 211);;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.together .btn:hover{
    background-color: black;
    color: white;
}


/* TImeline */

.vertical-timeline--two-columns .vertical-timeline-element-icon{
    width: 40px !important;
    height: 40px !important;
    left: 50%;
    margin-left: -20px !important;
}

.vertical-timeline{
    position: absolute !important;
    left: 75px;
    top:300px
}

.scroll-icon{
    position: absolute ;
    top:300px;
    left:48.5%;
    color: white;
    background-color: rgb(11, 25, 211);
    border-radius: 50%;
}